.main-Personagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    gap: 1vh;
}

.perso-head {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 25%;
    width: 100%;
    flex-wrap: wrap;
}

.perso-Foto {
    width: 15vh;
    height: 15vh;
    background-color: #252323;
    border: 0.5vh solid #7c3737;
    box-shadow: 0 0 0 0.3vh #252323;
}

.perso-Titulo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    width: 75vh;
    height: 15vh;
    background-color: #252323;
    border: 0.5vh solid #7c3737;
    box-shadow: 0 0 0 0.3vh #252323;
}
.ins{
    margin-top: 2vh;
    margin-left: 2vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 55%;
    gap: 1.5vh;
}
.ins input{
    height: 2vh;
    background-color: #252323;
    color: white;
    font-size: small;
    border: none;

}
.ins label{
    height: 2vh;
    color: white;
    font-size: medium;
}

.perso-body {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 50%;
    width: 100%;
}
.perso-Att{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 45vh;
    height: 40vh;
    background-color: #252323;
    border: 0.5vh solid #7c3737;
    box-shadow: 0 0 0 0.3vh #252323;
    color: white;
}

.Attributes{
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 200px;
    background-color: #7c3737;
    border: 0.5vh solid #252323;
    box-shadow: 0 0 0 0.3vh #7c3737;
}
.Attributes input{
    text-align: center;
    width: 20px;
}
.Attributes input:hover{
    cursor: default;
}
.attStats{
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}
.att-general button{
    border: none;
    border-radius: 5px;
}
.att-general button:hover{
    cursor: pointer;
}
.perso-Traits{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 45vh;
    height: 40vh;
    background-color: #252323;
    border: 0.5vh solid #7c3737;
    box-shadow: 0 0 0 0.3vh #252323;
}
.perso-Traits text{
    color: white;
}
.perso-Traits textarea{
    width: 75%;
    height: 75%;
    resize: none;
    background-color: #7c3737;
    border: 0.5vh solid #252323;
    box-shadow: 0 0 0 0.3vh #7c3737;
    color: #252323;
}